version: "3.9"

services:
  mongo:
    image: mongo
    restart: always
    ports:
      - 27017:27017
    volumes:
      - mongo_data:/data/db
  app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports: 
      - 8000:8000
    env_file: .env
    depends_on:
      - mongo

volumes:
  mongo_data: